$purple: #746ab0;
$yellow: #ffce30;
$yellow-pale: #fed661;
$yellow-palest: #f9eabf;
$tirkiz: #288ba8;
$gray: #2c3e50;
$white: whitesmoke;
$red: #dc3545;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
