@import "../assets/style/variables.scss";

.weather-popup {
  position: fixed;
  right: 20px;
  top: 100px;
  background-color: $yellow;
  padding: 15px 30px 20px;
  border-radius: 5px;
  // border: 1px solid $gray;
  box-shadow: 0 0 6px 1px $gray;

  &__close {
    text-align: right;

    button {
      background-color: transparent;
      border: none;
      font-weight: bold;
      font-size: 20px;
      padding: 0px;
      cursor: pointer;
      transition: 200ms;
      opacity: 0.6;
      margin-bottom: 10px;

      &:hover {
        // color: $purple;
        opacity: 0.8;
        transition: 200ms;
        transform: scale(1.2);
      }
    }
  }

  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    font-weight: bold;
    font-size: 30px;
  }

  &__min-max {
    display: flex;
    justify-content: space-around;
  }

  &__description {
    text-align: left;
    margin-top: 20px;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
