@import "./assets/style/variables.scss";

body {
  margin: 0;
  padding: 0;
  background-color: $white;
}

#app {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  // margin-top: 100px;
}

h1,
h2 {
  font-weight: normal;
}
h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  color: $gray;
  text-decoration: none;
}

.page {
  &__title {
    font-weight: normal;
    text-align: left;
    margin: 0px 0px 40px;
    font-size: 30px;

    &--users-in-company {
      color: $white;
    }
  }

  &__main-wrapper {
    padding: 180px 180px 20px 180px;
    margin: 0 auto;
  }

  &__inner-wrapper {
    margin: 0 auto;
  }

  &__additional-btn-wrapper {
    margin-bottom: 40px;
    text-align: right;
    padding-right: 20px;
    margin-top: -20px;
  }

  &__additional-btn {
    border: 2px solid $gray;
    padding: 3px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 200ms;
    border-radius: 3px;

    &:hover {
      background-color: rgba($purple, 0.9);
      transition: 200ms;
      color: $white;
      font-weight: bold;
      transform: scale(1.1);
    }

    &--users-in-company:hover {
      background-color: $yellow-pale;
      color: $gray;
    }
  }
}
