@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

#app {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1,
h2 {
  font-weight: normal;
}

h3,
h4,
h5 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  color: #2c3e50;
  text-decoration: none;
}

.page__title {
  font-weight: normal;
  text-align: left;
  margin: 0px 0px 40px;
  font-size: 30px;
}

.page__title--users-in-company {
  color: whitesmoke;
}

.page__main-wrapper {
  padding: 180px 180px 20px 180px;
  margin: 0 auto;
}

.page__inner-wrapper {
  margin: 0 auto;
}

.page__additional-btn-wrapper {
  margin-bottom: 40px;
  text-align: right;
  padding-right: 20px;
  margin-top: -20px;
}

.page__additional-btn {
  border: 2px solid #2c3e50;
  padding: 3px 20px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
  border-radius: 3px;
}

.page__additional-btn:hover {
  background-color: rgba(116, 106, 176, 0.9);
  -webkit-transition: 200ms;
  transition: 200ms;
  color: whitesmoke;
  font-weight: bold;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.page__additional-btn--users-in-company:hover {
  background-color: #fed661;
  color: #2c3e50;
}
